/* div{
    width: 200px;
    display: inline-block;
    border: 1px solid gray;
    text-align: center;
} */
.box {
    width: 200px;
    display: inline-block ;
    border: 1px solid gray;
    text-align : center;
}
.selected {
    background : lightgrey;
}